/* :host ::ng-deep .p-password input {
  width: 15rem;
} */

/* body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

input{
  width: 100%;

}
.p-inputgroup {
  margin-top: 12px;
  margin-bottom: 12px;
}
