.main-container {
  display: flex;
}

.main-content {
   margin:  auto;
   min-width: 80%;
}

/* body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
