<!-- <div class="card">
  <h5>Inside Content</h5>
  <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}" [numVisible]="5"
      [showThumbnails]="false" [showIndicators]="true" [changeItemOnIndicatorHover]="true" [showIndicatorsOnItem]="true">
      <ng-template pTemplate="item" let-item>
          <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
              <img [src]="item.thumbnailImageSrc" style="display: block;" />
          </div>
      </ng-template>
  </p-galleria>
</div> -->
<div class="main-container">
  <img src="../../assets/films2.png" >
</div>


